name: test_build android lib workflow
on:
    workflow_dispatch:
      inputs:
        create_release:
          description: 'Create new release'
          required: true
          type: boolean
    push:
        branches:
        - main
    pull_request:
        branches:
        - main

jobs:
  Android-lib:
    strategy:
      matrix:
        target_arch: [arm64-v8a, x86_64]
    name: Build Android lib (${{ matrix.target_arch }})
    runs-on: windows-latest
    steps:
      - name: Clone Source Repo
        id: checkout_main
        uses: actions/checkout@v4
        with:
          repository: pur1fying/BAAS_Cpp
          ref: main
          fetch-depth: 0
          path: "baas_cpp"

      - name: Install Ninja
        id: install_ninja
        run: |
          choco install ninja

      - name: CMake Configure and Build
        id: cmake_configure_and_build
        working-directory: ./baas_cpp
        run: |
          cmake -G Ninja -B build -DCMAKE_TOOLCHAIN_FILE="$env:ANDROID_NDK_LATEST_HOME\build\cmake\android.toolchain.cmake" -DANDROID_NDK_PATH="$env:ANDROID_NDK_LATEST_HOME" -DANDROID_ABI=${{ matrix.target_arch }} -DANDROID_PLATFORM=android-26 -DBUILD_BAAS_OCR=ON -DBAAS_OCR_ANDROID_BUILD=ON -DCMAKE_BUILD_TYPE=Release
          cmake --build build --config Release --target BAAS_ocr_server -- -j 4
      
      - name: Upload Artifacts
        if: ${{ ( github.event_name == 'push' && github.ref == 'refs/heads/main' ) || github.event.inputs.create_release == 'true' }}
        uses: actions/upload-artifact@v4
        with:
          path: ./baas_cpp/build/bin
          name: baas-ocr-android-lib-${{ matrix.target_arch }}
